@import 'tailwindcss';

@theme {
  --color-primary: #212529;
  --color-primary-hover: #31373d;
  --color-secondary: #343a40;
  --color-surface: #e9ecef;
  --color-surface-hover: #d9d9d9;
  --color-muted: #6c757d;
  --color-line: #d1d8de;
  --color-stripe: #ced4da;
  --color-accent: #ff9d5c;
  --color-success: #104b1a;
  --color-error: #5e0915;
  --color-success-icon: #198754;
}

@theme inline {
  --font-serif: var(--font-noto-serif);
}

html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: var(--font-noto-serif), serif;
}

body {
  background-color: var(--color-surface);
  color: var(--color-primary);
  font-size: 1.6rem;
}

.container {
  width: 90%;
  max-width: 120rem;
  margin: 0 auto;
}
