@charset "UTF-8";
/* Globales */
body,
html {
  margin: 0; }

*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: "Noto Serif", serif; }

html {
  font-size: 62.5%; }

body {
  background-color: #e9ecef;
  font-size: 1.6rem; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Noto Serif", serif;
  font-weight: 400; }

h1 {
  font-size: 5.2rem; }

h2 {
  font-size: 3.6rem; }

h3 {
  font-size: 3.2rem; }

h4 {
  font-size: 2.8rem; }

@media only screen and (min-width: 768px) {
  body {
    font-size: 2.2rem; } }

/* Utilidades */
.container {
  width: 90%;
  max-width: 120rem;
  margin: 0 auto; }

.btn {
  display: block;
  padding: 1rem;
  width: 100%;
  margin-bottom: 1rem;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
  transition: all 200ms ease;
  text-decoration: none;
  text-align: center; }

.btn:hover {
  transform: translateY(-0.1rem); }

.btn-primary {
  background-color: #212529;
  color: #ffffff; }
  .btn-primary:hover {
    background-color: #31373d; }

.btn-secondary {
  background-color: transparent;
  color: #212529;
  border: 2px solid #212529; }
  .btn-secondary:hover {
    background-color: #d9d9d9; }

@media only screen and (min-width: 768px) {
  .btn {
    display: inline-block;
    width: fit-content; } }

.spinner {
  width: 100%;
  height: fit-content; }
  .spinner img {
    display: block;
    width: 100%; }

/* Layout */
/* Header */
.header {
  padding: 5rem 0; }
  .header .contenedor-logo {
    display: block;
    width: fit-content;
    margin: 0 auto; }
    .header .contenedor-logo .logo {
      width: 100%;
      max-width: 40rem; }
  .header .nav {
    display: block; }
    .header .nav ul {
      display: none;
      margin: 0;
      padding: 0;
      list-style: none;
      text-align: center;
      justify-content: space-around; }
      .header .nav ul li {
        display: block;
        padding: 1rem;
        text-align: center;
        max-width: 100vw; }
        .header .nav ul li::after {
          content: '';
          width: 0;
          height: 2px;
          background-color: #212529;
          display: block;
          transform-origin: right;
          transition: width 500ms ease; }
        .header .nav ul li a {
          text-decoration: none;
          color: #212529;
          font-size: 2.4rem;
          font-family: "Noto Serif", serif;
          transition: all 300ms ease; }
        .header .nav ul li:hover::after {
          width: 100%; }
        .header .nav ul li:hover a {
          letter-spacing: .1rem; }

@media only screen and (min-width: 768px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .header .contenedor-logo {
      margin: 0; }
    .header .nav ul {
      display: flex; }
      .header .nav ul li {
        display: inline-block; } }

/* HOME */
.home-section {
  text-align: center; }

.home-section__grid img {
  max-width: 100%; }

.home-section__grid p {
  line-height: 1.8;
  letter-spacing: .5px; }

.frase {
  font-family: "Noto Serif", serif;
  font-size: 1.8rem;
  margin-bottom: .5rem; }

.btn-frases {
  display: block;
  margin: 0 auto 2rem auto;
  padding: .5rem;
  font-size: 1.6rem;
  width: fit-content; }

@media only screen and (min-width: 768px) {
  .home-section__grid {
    display: grid;
    grid-template-columns: 1fr 1fr; }
  .frase {
    font-size: 3.6rem; } }

/* Titulo */
.opciones-relojes {
  text-align: center;
  margin-bottom: 5rem; }
  .opciones-relojes h2 {
    margin: 5rem 0; }
  .opciones-relojes .field .inputs {
    width: 100%; }
    .opciones-relojes .field .inputs label {
      margin-bottom: 1rem; }
    .opciones-relojes .field .inputs select {
      width: 100%;
      padding: .5rem;
      margin-bottom: 1rem;
      border: 1px solid #d1d8de; }
      .opciones-relojes .field .inputs select:last-of-type {
        margin-bottom: 0; }

.contenedor-relojes {
  margin-bottom: 5rem; }

@media only screen and (min-width: 768px) {
  .opciones-relojes {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .opciones-relojes .field {
      display: flex;
      align-items: center;
      gap: 1rem; }
      .opciones-relojes .field label {
        width: fit-content; }
      .opciones-relojes .field .inputs {
        width: fit-content; }
        .opciones-relojes .field .inputs select {
          margin: 0;
          width: fit-content; }
  .contenedor-relojes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    row-gap: 2rem;
    margin-bottom: 5rem; } }

.reloj {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  color: #ffffff;
  padding: 1rem;
  border-radius: .5rem;
  cursor: pointer;
  overflow: hidden;
  transition: all 300ms ease;
  box-shadow: 0px 5px 8px -2px rgba(0, 0, 0, 0.35);
  margin-bottom: 2rem; }
  .reloj:hover {
    box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.35);
    transform: translateY(-3px); }
    .reloj:hover .info-secundaria {
      transform: translateY(0); }
  .reloj .img-container {
    width: 100%;
    overflow: hidden;
    margin-top: 2rem;
    transition: all 300ms ease; }
    .reloj .img-container .reloj-img {
      display: block;
      max-width: 67%;
      margin: 0 auto; }
  .reloj .info-ppal {
    transition: all 300ms ease; }
  .reloj .info-secundaria {
    background-color: #343a40;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    padding: 2rem 0;
    transform: translateY(100%);
    transition: transform 300ms ease; }
    .reloj .info-secundaria p {
      text-align: center;
      color: #ffffff; }
  .reloj .titulo {
    padding: 1rem 2rem 0 2rem; }
    .reloj .titulo p {
      color: #212529;
      text-align: center;
      font-size: 2rem;
      padding: 0 1rem;
      margin: 0 0 .5rem 0; }
  .reloj .precio {
    font-weight: 300;
    color: #212529;
    text-align: center;
    padding: 0 0 1rem 0;
    font-size: 1.8rem;
    margin: 0;
    font-family: "Noto Serif", serif; }
    .reloj .precio p {
      margin: 0; }

@media only screen and (min-width: 768px) {
  .reloj {
    margin-bottom: 1rem; }
    .reloj .img-container .reloj-img {
      max-width: 100%; }
    .reloj .titulo p {
      font-size: 2.5rem; }
    .reloj .precio {
      font-size: 3rem; } }

#tituloReloj {
  font-size: 5.5vw;
  text-align: center; }

.info__container .imagen-reloj {
  display: none;
  width: 100%;
  cursor: pointer; }

.info__container .info-derecha {
  margin-top: 2rem; }
  .info__container .info-derecha .info-lista {
    margin-top: 0;
    padding: 0;
    list-style: none; }
    .info__container .info-derecha .info-lista li {
      font-weight: bold;
      margin-bottom: 2rem; }
      .info__container .info-derecha .info-lista li span {
        font-weight: 400; }
  .info__container .info-derecha .precio-reloj, .info__container .info-derecha .envio-reloj {
    display: flex;
    justify-content: space-between; }
  .info__container .info-derecha .precio-reloj h3 {
    margin-bottom: 0; }
  .info__container .info-derecha .envio-reloj h4 {
    margin-top: 0;
    font-size: 2.1rem; }
  .info__container .info-derecha #numeroCarrito {
    background-color: #ffffff;
    color: #212529;
    padding: 0 .5rem;
    margin-left: 1rem; }

/* La imagen del reloj cuando se agranda */
.imagen-contenedor {
  position: fixed;
  inset: 0;
  opacity: 0;
  display: none;
  transition: opacity 200ms ease; }
  .imagen-contenedor.mostrar {
    opacity: 1; }
  .imagen-contenedor .imagen-overlay {
    display: block;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); }
  .imagen-contenedor .contenedor-arrastrable {
    position: absolute;
    z-index: 111;
    top: 0;
    left: 0;
    touch-action: none; }
  .imagen-contenedor .imagen-grande {
    touch-action: none; }

@media only screen and (min-width: 768px) {
  #tituloReloj {
    font-size: 4rem;
    text-align: center; }
  .info__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem; }
    .info__container .info-derecha {
      margin-top: 0; }
  .imagen-contenedor .imagen-grande {
    margin-top: 5rem;
    transform: translateX(-50%); } }

footer .copyright {
  margin: 10rem 0 5rem 0;
  text-align: center; }
  footer .copyright .link {
    text-decoration: none;
    font-weight: 700;
    color: #FF9D5C; }

.contenedor-404 {
  width: fit-content;
  margin: 0 auto;
  text-align: center; }
  .contenedor-404 h2, .contenedor-404 img {
    margin-bottom: 5rem; }

.nav .navbar-toggler {
  width: fit-content;
  margin: 2rem auto 0 auto;
  cursor: pointer; }
  .nav .navbar-toggler .hamburguesa {
    display: block;
    width: 2.8rem;
    height: fit-content;
    padding: 1rem 0; }
    .nav .navbar-toggler .hamburguesa .barra-1,
    .nav .navbar-toggler .hamburguesa .barra-2,
    .nav .navbar-toggler .hamburguesa .barra-3 {
      display: block;
      height: 2px;
      width: 100%;
      margin-bottom: .7rem;
      background-color: #212529;
      transition: all 350ms cubic-bezier(0.62, -0.99, 0.54, 1.9) 0s; }
    .nav .navbar-toggler .hamburguesa .barra-2 {
      transform-origin: right; }
    .nav .navbar-toggler .hamburguesa .barra-3 {
      margin-bottom: 0; }
    .nav .navbar-toggler .hamburguesa.abierto .barra-1 {
      transform: translateY(9px) rotate(45deg); }
    .nav .navbar-toggler .hamburguesa.abierto .barra-2 {
      transform: scale(0); }
    .nav .navbar-toggler .hamburguesa.abierto .barra-3 {
      transform: translateY(-9px) rotate(-45deg); }

@media only screen and (min-width: 768px) {
  .nav .navbar-toggler {
    display: none; } }

/*FIN HAMBURGUESA*/
.titulo-carrito,
.empty-cart-mje {
  text-align: center; }

.reloj-cart {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  gap: 1rem;
  padding: 1rem; }
  .reloj-cart:nth-child(odd) {
    background-color: #ced4da; }
  .reloj-cart .img-reloj-cart {
    overflow: hidden;
    width: 100%;
    height: auto; }
    .reloj-cart .img-reloj-cart img {
      max-width: 100%; }
  .reloj-cart .info-reloj-cart h4 {
    font-size: 2.4rem; }
  .reloj-cart .info-reloj-cart p {
    font-size: 1.6rem; }

.compra-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: none; }
  .compra-overlay .compra-content {
    padding: 2rem;
    max-width: 95%;
    background-color: #e9ecef;
    margin: 2rem auto 0 auto;
    max-height: 95vh;
    overflow: scroll;
    /*Centrando todos los párrafos*/ }
    .compra-overlay .compra-content .form-compra {
      margin-bottom: 5rem; }
      .compra-overlay .compra-content .form-compra .field {
        margin-bottom: 1rem; }
        .compra-overlay .compra-content .form-compra .field select {
          padding: 1rem;
          width: 100%;
          font-size: 1.8rem; }
    .compra-overlay .compra-content #resumenCuotas, .compra-overlay .compra-content .contenedor-opciones p,
    .compra-overlay .compra-content .warning p {
      text-align: center; }
    .compra-overlay .compra-content .resumen-final {
      background-color: #343a40;
      color: #e9ecef;
      padding: 2rem;
      width: 100%;
      margin-bottom: 2rem; }
      .compra-overlay .compra-content .resumen-final h4 {
        font-size: 2.2rem; }
      .compra-overlay .compra-content .resumen-final h4, .compra-overlay .compra-content .resumen-final h3 {
        width: 100%; }
        .compra-overlay .compra-content .resumen-final h4 span, .compra-overlay .compra-content .resumen-final h3 span {
          display: inline-block;
          margin: 0 0 0 auto; }
    .compra-overlay .compra-content .warning {
      width: 100%;
      margin-top: 5rem; }
      .compra-overlay .compra-content .warning p {
        width: 100%;
        font-size: 1.6rem;
        color: #6c757d; }

.compra-realizada {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: fit-content;
  padding: 4rem;
  background-color: #ffffff;
  box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.7);
  transition: opacity 0.5s ease-in-out;
  display: none; }
  .compra-realizada .tilde-titulo {
    display: flex;
    gap: 1rem; }
    .compra-realizada .tilde-titulo img {
      max-width: 4rem; }
    .compra-realizada .tilde-titulo h4 {
      text-align: center;
      margin: 0; }
  .compra-realizada p {
    margin-bottom: 0; }
  .compra-realizada.esconder {
    opacity: 0; }

@media only screen and (min-width: 768px) {
  .reloj-cart {
    flex-direction: row;
    justify-content: start;
    gap: 5rem; }
    .reloj-cart .img-reloj-cart {
      width: 30rem;
      height: 30rem; }
      .reloj-cart .img-reloj-cart img {
        max-width: 100%; }
  .compra-overlay .compra-content {
    max-width: 90%; }
    .compra-overlay .compra-content .form-compra {
      width: 50%;
      margin: 5rem auto; }
      .compra-overlay .compra-content .form-compra .field select {
        padding: .5rem;
        display: block;
        width: 100%;
        font-size: 1.8rem; }
    .compra-overlay .compra-content .contenedor-opciones {
      width: 100%; }
      .compra-overlay .compra-content .contenedor-opciones .opciones {
        display: flex;
        width: 30%;
        justify-content: space-between;
        margin: 0 auto; } }

#form {
  background-color: #6c757d;
  padding: 2rem;
  color: #ffffff; }
  #form h2 {
    text-align: center; }
  #form .field {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem; }
    #form .field input, #form .field textarea, #form .field select {
      padding: 1rem;
      font-size: 1.6rem; }
    #form .field textarea {
      height: 10rem; }
  #form .mensajeAlerta {
    padding: 2rem; }
    #form .mensajeAlerta.exito {
      background-color: #104b1a; }
    #form .mensajeAlerta.error {
      background-color: #5e0915; }
  @media only screen and (min-width: 768px) {
    #form {
      padding: 2rem 10rem; }
      #form .field textarea {
        height: 15rem; } }

main h2 {
  text-align: center; }
