/* Globales */
body,
html {
  margin: 0; }

*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif; }

html {
  font-size: 62.5%; }

body {
  background-color: #e9ecef;
  font-size: 1.6rem; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Cinzel", serif;
  font-weight: 400; }

h1 {
  font-size: 5.2rem; }

h2 {
  font-size: 3.6rem; }

h3 {
  font-size: 3.2rem; }

h4 {
  font-size: 2.8rem; }

/* Utilidades */
.container {
  width: 90%;
  max-width: 120rem;
  margin: 0 auto; }

/* Layout */
/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .header a {
    display: block;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    color: #212529;
    transition: all 300ms ease; }
  .header a:hover {
    letter-spacing: .1rem; }
  .header .nav {
    display: none; }
    .header .nav ul {
      margin: 0;
      padding: 0;
      list-style: none;
      min-width: 49rem;
      text-align: center;
      display: flex;
      justify-content: space-around; }
      .header .nav ul li {
        display: inline-block;
        text-align: center; }
        .header .nav ul li a {
          text-decoration: none;
          color: #212529;
          font-size: 2.4rem;
          font-family: "Cinzel", serif;
          transition: all 300ms ease; }
        .header .nav ul li:hover a {
          letter-spacing: .3rem; }

@media only screen and (min-width: 768px) {
  .header a {
    display: inline-block;
    margin: 0; }
  .header .nav {
    display: block; } }

/* HOME */
.home-section {
  text-align: center; }

.home-section__grid img {
  max-width: 100%; }

.home-section__grid p {
  line-height: 1.8;
  letter-spacing: .5px; }

.saludo {
  font-family: "Cinzel", serif; }

@media only screen and (min-width: 768px) {
  .home-section__grid {
    display: grid;
    grid-template-columns: 1fr 1fr; } }

/* Titulo */
.opciones-relojes {
  text-align: center;
  margin-bottom: 5rem; }
  .opciones-relojes .field .inputs {
    width: 100%; }
    .opciones-relojes .field .inputs label {
      margin-bottom: 1rem; }
    .opciones-relojes .field .inputs select {
      width: 100%;
      padding: .5rem;
      margin-bottom: 1rem; }
      .opciones-relojes .field .inputs select:last-of-type {
        margin-bottom: 0; }

.contenedor-relojes {
  margin-bottom: 5rem; }

@media only screen and (min-width: 768px) {
  .opciones-relojes {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .opciones-relojes .field {
      display: flex;
      align-items: center;
      gap: 1rem; }
      .opciones-relojes .field label {
        width: fit-content; }
      .opciones-relojes .field .inputs {
        width: fit-content; }
        .opciones-relojes .field .inputs select {
          width: fit-content; }
  .contenedor-relojes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    row-gap: 2rem;
    margin-bottom: 5rem; } }

.reloj {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: #ffffff;
  color: #ffffff;
  padding: 1rem;
  border-radius: .5rem;
  cursor: pointer;
  overflow: hidden;
  transition: all 300ms ease;
  box-shadow: 0px 5px 8px -2px rgba(0, 0, 0, 0.35);
  margin-bottom: 2rem; }
  .reloj:hover {
    box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.35);
    transform: translateY(-3px); }
    .reloj:hover .info-secundaria {
      transform: translateY(0); }
  .reloj .img-container {
    width: 100%;
    overflow: hidden; }
    .reloj .img-container .reloj-img {
      display: block;
      max-width: 100%;
      margin: 0 auto; }
  .reloj .info-secundaria {
    background-color: #343a40;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    padding: 2rem 0;
    transform: translateY(100%);
    transition: transform 300ms ease; }
    .reloj .info-secundaria p {
      text-align: center;
      color: #ffffff; }
  .reloj .titulo {
    padding: 2rem; }
    .reloj .titulo p {
      color: #212529;
      text-align: center;
      font-size: 2.5rem;
      padding: 0 1rem;
      margin: 0 0 .5rem 0; }
  .reloj .precio {
    font-weight: 300;
    color: #212529;
    text-align: center;
    padding: 1rem 0;
    font-size: 3rem;
    margin: 0;
    font-family: "Open Sans", sans-serif; }

@media only screen and (min-width: 768px) {
  .reloj {
    margin-bottom: 1rem; } }

footer .copyright {
  margin: 10rem 0 5rem 0;
  text-align: center; }
  footer .copyright .link {
    text-decoration: none;
    font-weight: 700;
    color: #FF9D5C; }

.alerta {
  position: fixed;
  z-index: 100;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6); }
  .alerta .alerta__contenido {
    background-color: #e9ecef;
    display: block;
    margin: 30vh auto 0 auto; }
